# Node
node_modules/
.pnpm-store/
pnpm-debug.log*
.npm
.eslintcache

# Next.js
.next/
out/

# Turborepo
.turbo/

# Build outputs
dist/
bin/
gen/ts/node_modules/

# Go
gen/go/vendor/
*.exe
*.test
*.prof

# Environment
.env
.env.local
.env.*.local

# Docker
.docker

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
