{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "apps/backend/**/*.go": [
    "sh -c 'cd apps/backend && golangci-lint run ./...'"
  ],
  "apps/ws-service/**/*.go": [
    "sh -c 'cd apps/ws-service && golangci-lint run ./...'"
  ],
  "*.proto": [
    "buf lint",
    "buf format -w"
  ]
}
